/* General styles */
:root {
  --clr-gray: #030712;
  --clr-light: #f1f4f9;
  --clr-rose: #e11d48;
  --clr-indigo: #4137f8;
  --clr-rose-dark: #710f24;
  --clr-slate400: #bfbfbf;
  --clr-slate600: #677384;
  --clr-dark: #070a13;
  --clr-shadow: #04060e;
  --clr-little-dark: #3b0010;
  --clr-canvas-default: #0a0e1a;
  --border-clr-horizontal: #1a233d;
  --default-heading-font: 'General Sans';
  --bold-font-weight: 800;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 700px;
  height: 700px;
}


p, h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: white;
}

label {
  color: white;
  font-family: Poppins;
}

a {
  text-decoration: none;
}


body {
  background-color: #070a13;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.heading {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 35px var(--clr-shadow);
  padding: 30px;
  width: 400px;
  height: 440px;
}

.email, .password {
  padding: 10px;
  outline: none;
  width: 300px;
}


.mail-image, .locked-image {
  filter: brightness(100%) invert(100%);
  width: 20px;
  position: relative;
  right: -10px;

}

.input-box {
  margin-bottom: 30px;
}

.input-box-and-image .email, .password{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.input-box-and-image{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.log-in {
  padding: 10px;
  width: 320px;
  background-color: var(--clr-rose);
  border: none;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  

}

.remember-forgot {
  margin: 0 0 16px 0
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}


.log-in:hover {
  box-shadow: 0 0 5px var(--clr-rose), 0 0 10px var(--clr-rose), 0 0 60px var(--clr-rose); 
}